@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.main-header {
  background-color: #fff;

  a {
    text-decoration: none;
    color: inherit;
  }

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-flow: row;
  }

  &__title {
    margin: 0;
    font-family: 'Roboto', serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 40px;

    @media screen and (max-width: 568px) {
      font-size: 30px;
    }
  }


  &__subtitle {
    margin-left: 10px;
    cursor: pointer;
  }


  &__icons {
    font-size: 22px;
    border: none;
    padding: 0;
    margin: 0 10px;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    // Remove o outline no Firefox
    &::-moz-focus-inner {
      border: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .icon__bag {
    position: relative;

    .bag-badget {
      position: absolute;
      top: -7px;
      right: -13px;
      background-color: red;
      color: #fff;
      font-size: 13px;
      font-weight: bold;
      border-radius: 50%;
      min-width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__title:hover , &__subtitle:hover {
    color: #bea203d0;
  }
}
