.minicart__content__item{
  min-width: 100%;     
  border-bottom: 1px solid #ccc;  
  display: flex;                 

  .content__item__media{
      max-width: 65px;
      overflow: hidden;
          
      img{
          width: 100%;
      }

      .item__media__button-remove{
          border: none;
          background-color: transparent;
          font-size: 8px;
          color: red;
          padding: 0 ;
          
      }
  }
  
} 

.content__item__description{
  width: 100%;
}

.content__item__description-details{
  font-size: 12px;
  display: flex;
  margin-left: 15px;
  justify-content: space-between;
}

.content__item__description-title{
  p{
      margin-top: 0;
      margin-bottom: 10px;

  }

  h4{
      margin-top: 0;
      margin-bottom: 5px;
  }

  .content__item-quantity{
      input{
          border: none;
          background-color: transparent;
          width: 25px;
      }

      button{
          background-color: transparent;
          border: black solid 1px;
      }
  }
}

.content__item__description-price{
  p{
      margin: 0;
  }
}